<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>


<div layout:fragment="mainContent">

    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Skapa Konto</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="content">
        <div class="col-boxes-2">
            <div class="card-second">
                <div class="card-body">
                    <div class="text-top">
                        <form method="GET">
                            Namn
                            <input type="username" name="q" value="" />
                            <!-- <input type="hidden" name="sortCol"  value="<?php echo $sortCol; ?>" />       -->
                        </form>
                        <form method="GET">
                            Lösenord
                            <input type="password" name="q" value="" />
                            <!-- <input type="hidden" name="sortCol"  value="<?php echo $sortCol; ?>" />       -->
                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>



</div>






</html>